MetodyObliczeniowe/MetodyObliczeniowe.sln.DotSettings.user
MetodyObliczeniowe/MetodyObliczeniowe.v12.suo
*.exe
MetodyObliczeniowe/MetodyObliczeniowe/bin/Debug/MetodyObliczeniowe.exe.config
MetodyObliczeniowe/MetodyObliczeniowe/bin/Debug/MetodyObliczeniowe.pdb
MetodyObliczeniowe/MetodyObliczeniowe/bin/Debug/MetodyObliczeniowe.vshost.exe.config
MetodyObliczeniowe/MetodyObliczeniowe/bin/Debug/MetodyObliczeniowe.vshost.exe.manifest
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/MetodyObliczeniowe.csproj.FileListAbsolute.txt
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/MetodyObliczeniowe.csprojResolveAssemblyReference.cache
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/MetodyObliczeniowe.pdb
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MetodyObliczeniowe/MetodyObliczeniowe/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs